html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  color: #f0f0f0;
  background: #F5F5F5;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

*{
  box-sizing: border-box;
}

.abs_center{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.box{
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    color: #222;
}

.box:hover{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}